body{
    background-image: url(/landing_page/monetLanding\ 1.png);
    margin: 0px;
}
nav {
    width: 1140px;
    height: 150px; 
    margin-top: -653px;
    padding-left: -720px;
}
nav ul {
    display: flex;
    justify-content: space-around;
    padding:0;
    
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    
    
}
li  {
    float: left;
}
li a{
    
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Inter', sans-serif;

    font-weight: 600;
    size: 13px;
    line-height: 15.73px;
    
}
a{
    display: block;
    

}
ul {
    position: fixed;
    top: 0;
    width: 100%;
  }
  li:hover{
    text-decoration: underline;
  }