body{
    background-image: url(/landing_page/monetLanding\ 1.png);
    margin: 0px;
}
header{
    text-align: center;
    font-family: 'Moirai One', cursive;
}
h1{
    font-size: 100px;
    color: #004921;
    
}
nav ul {
    display: flex;
    justify-content: space-around;
    padding:0;
    
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #004921;
    
    
}
li  {
    float: left;
}
li a{
    display: block;
    color: #FFF0E0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}
a{
    display: block;
    padding: 8px;

}
ul {
    position: fixed;
    top: 0;
    width: 100%;
  }
.intro{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
}
.danielapfp{
    width: 210px;
    height: 220px;
}